.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea
.history
.cache
.lib/
.bsp/
.bloop
.metals
.vscode
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt